<div class="card">
    <div class="card__cover"></div>      
    <div class="card__content">
        <span class="title">{{meal.strMeal}}</span>
        <div class="area">
            <p><strong>Area: </strong><span>{{meal.strArea}}</span></p>
            <p><strong>Category: </strong><span>{{meal.strCategory}}</span></p>
            <p><strong>Video: </strong><a title={{meal.strYoutube}} target="_blank" href={{meal.strYoutube}}>Link</a></p>
            <p><strong>Source: </strong><a title={{meal.strSource}} target="_blank" href={{meal.strSource}}>Link</a></p>
        </div>
        {{meal.strInstructions}}
    </div>
</div>
