<div class="container">
<app-header (showAboutEvent)="showAboutDialog($event)"></app-header>

<div *ngIf="isProgressBarVisible; then showSearchBadge else showProgressBar"></div>
    <ng-template #showProgressBar>
        <app-badge (click)="search()" [title]="badgeValue"></app-badge>
    </ng-template>
    <ng-template #showSearchBadge>
        <app-progress-bar></app-progress-bar>
    </ng-template>

<div *ngIf="isAboutDialogVisible; then showAboutDialogWindow else hideAboutDialogWindow"></div>
<ng-template #hideAboutDialogWindow>
    <ng-template [ngIf]="isCardVisible">
        <app-card [meal]="meal"></app-card>
    </ng-template>
</ng-template>
<ng-template #showAboutDialogWindow>
    <div class="about">
        {{about}}
    </div>
</ng-template>

</div>