<div class="container">
<app-header (showAboutEvent)="showAboutDialog($event)"
            (showSearchEvent)="showSearchDialog($event)">
</app-header>

<div *ngIf="isProgressBarVisible; then showSearchBadge else showProgressBar"></div>
    <ng-template #showProgressBar>
        <app-badge (click)="search()" [title]="badgeValue"></app-badge>
    </ng-template>
    <ng-template #showSearchBadge>
        <app-progress-bar></app-progress-bar>
    </ng-template>

<div *ngIf="isAboutDialogVisible">
    <div class="about">
        {{about}}
    </div>
</div>
<div *ngIf="isCardVisible">
    <app-card [meal]="meal"></app-card>
</div>
<div *ngIf="isSearchDialogVisible">
    <app-search (searchByFirstLetterEvent)="getMealsByFirstLetter($event)"></app-search>
    <div *ngIf="meals.meals !== null && meals.meals.length > 0">
        <app-card *ngFor="let meal of meals.meals" [meal]="meal"></app-card>
    </div>
</div>

</div>